<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adekunle Stephen O.</title>
    
    <!--Unicons-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!--Swipe CSS-->
    <link rel="stylesheet" href="/public/assets/swiper/swiper-bundle.min.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="/public/styles.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/img/braces_icon_207335.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/public/assets/img/braces_icon_207335.png">
    <link rel="shortcut icon" type="image/ico" sizes="16x16" href="/public/assets/img/braces_icon_207335.ico">
    <link rel="manifest" href="/public/assets/img/braces_icon_207335.svg">
    <!--  
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    -->
</head>
<body>

    {{{body}}}
    


    <!--CDN Script-->
    <script src="/public/assets/typed.min.js"></script>

    <!--==================== SWIPER JS ====================-->
    <script src="/public/assets/swiper/swiper-bundle.min.js"></script>
    <!--Script-->
    <script src="/public/app.js"></script>

</body>
</html>