<!--==================== HEADER ====================-->
<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav_logo">Steve</a>
        <div class="nav_menu" id="nav-menu">
            <ul class="nav_list grid">
                <li class="nav_item">
                    <a href="#home" class="nav_link active-link">
                        <i class="uil uil-estate nav_icon"></i>
                        Home
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#about" class="nav_link">
                        <i class="uil uil-user nav_icon"></i>
                        About
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#skills" class="nav_link">
                        <i class="uil uil-file-alt nav_icon"></i>
                        Skills
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#services" class="nav_link">
                        <i class="uil uil-briefcase-alt nav_icon"></i>
                        Services
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#portfolio" class="nav_link">
                        <i class="uil uil-scenery nav_icon"></i>
                        Portfolio
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#contact" class="nav_link">
                        <i class="uil uil-message nav_icon"></i>
                        Contact
                    </a>
                </li>
            </ul>
            <i class="uil uil-times nav_close" id="nav-close"></i>
        </div>

        <div class="nav_btns">
            <!--Thene Change Button-->
            <i class="uil uil-moon change-theme" id="theme-button"></i>

            <div class="nav_toggle" id="nav-toggle">
                <i class="uil uil-apps"></i>
            </div>
        </div>
    </nav>
</header>

<!--==================== MAIN ====================-->
<main class="main">
    <!--==================== HOME ====================-->
    <section class="home section" id="home">
        <div class="home_container container grid">
            <div class="home_content grid">
                <div class="home_social">
                    <a href="https://www.linkedin.com/in/okste/" target="_blank" class="home_socal icon">
                        <i class="uil uil-linkedin-alt home_social-icon"></i>
                    </a>
                    <a href="https://github.com/okste1234/" target="_blank" class="home_socal icon">
                        <i class="uil uil-github-alt home_social-icon"></i>
                    </a>
                    <a href="https://twitter.com/Okste1234" target="_blank" class="home_socal icon">
                        <i class="uil uil-twitter-alt home_social-icon"></i>
                    </a>
                </div>
                <div class="home_img">
                    <svg class="home_blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />

                            <image class="home_blob-img" x="-5" y="1" href="/public/assets/img/2.jpg" />
                        </g>
                    </svg>
                </div>
                <div class="home_data">
                    <h1 class="home_title">Hi, I'm Adekunle Stephen O.</h1>
                    <div class="home_subtitle">a <span class="typing">
                            { A Frontend Developer }
                        </span>
                    </div>
                    <p class="home_description">Expert Software Developer - Crafting performant, scalable, and intuitive
                        web experiences with the latest technologies
                        and frameworks. Passionate about solving complex problems and delivering exceptional user
                        experiences. Let's build something great together.
                    </p>
                    <a href="#contact" class="button button-flex">
                        Contact Me <i class="uil uil-message button_icon"></i>
                    </a>
                </div>
            </div>
            <div class="home_scroll">
                <a href="#about" class="home_scroll-button button-flex">
                    <i class="uil uil-mouse-alt-2 home_scroll-mouse"></i>
                    <span class="home_scroll-name">Scroll down</span>
                    <i class="uil uil-arrow-down home_scroll-arrow"></i>
                </a>
            </div>
        </div>
    </section>

    <!--==================== ABOUT ====================-->
    <section class="about section" id="about">
        <h2 class="section_title">About Me</h2>
        <span class="section_subtitle">My introduction</span>

        <div class="about_container container grid">
            <div class="about_data">
                <p class="about_description">I am a skilled and motivated Shopify and Frontend Developer with 4+ years
                    of experience. Proficient in Shopify's Liquid,
                    HTML5, CSS3, JavaScript, React, and more. Versatile in roles like Shopify Developer, Frontend
                    Developer, Node.js
                    Developer, and Full-stack Developer. Experienced in Google Tag Manager, SASS/SCSS, Firebase, Redux,
                    and more. Team
                    player, project leader, and quick learner with strong communication and problem-solving skills.
                    Seeking to expand into
                    Mobile Software Engineering. Apart from work, I enjoy logical reasoning and socializing 😉. I'm
                    confident in my ability to
                    enhance your team with my expertise and adaptability.
                </p>
            </div>
            <div class="about_img_container">
                <img src="/public/assets/img/work-cube.png" alt="" class="about_img about_img-1">
                <img src="/public/assets/img/work-cube-7.png" alt="" class="about_img about_img-2">
                <img src="/public/assets/img/work-cube-3.png" alt="" class="about_img about_img-3">
                <img src="/public/assets/img/work-cube-5.png" alt="" class="about_img about_img-4">
                <img src="/public/assets/img/work-cube-4.png" alt="" class="about_img about_img-5">
                <img src="/public/assets/img/work-fustrum.png" alt="" class="about_img about_img-6">
                <img src="/public/assets/img/main-pic-7.png" alt="" class="about_img about_img-7">
            </div>
            <div class="about_buttons">
                <a href="/public/assets/cv/Copy of Resume - 1.pdf" download="" class="cv-botton button button-flex">
                    Resume Here<i class="uil uil-download-alt button_icon"></i>
                </a>
            </div>
        </div>
    </section>

    <!--==================== SKILLS ====================-->
    <section class="skills section" id="skills">
        <h2 class="section_title">My Skills</h2>
        <span class="section_subtitle">What i know</span>

        <div class="skills_container container grid">
            <div class="skills_paragraph">
                <p>I really love JavaScript, it is
                    my favourite of the programming languages.
                    I also find Python, and Typescript to be awesome too..
                    <br>
                    <br>
                    I am proficient with NodeJS(express) for server side development,
                    React for Client side development.
                    I'm cool with CSS and its frameworks,
                    but I prefer writing with SASS as my favourite compiler.
                </p>
            </div>

            <div id="skillDisplay"></div>
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="/public/assets/jquery.svg3dtagcloud.min.js"></script>
            <script>
                $(document).ready(() => {
                    const entries = [
                        {
                            label: 'HTML'
                        },
                        {
                            label: 'CSS'
                        },
                        {
                            label: 'JavaScript'
                        },
                        {
                            label: 'React.js'
                        },
                        {
                            label: 'Node.js'
                        },
                        {
                            label: 'Jquery'
                        },
                        {
                            label: 'Redux'
                        },
                        {
                            label: 'SCSS'
                        },
                        {
                            label: 'SASS'
                        },
                        {
                            label: 'Bootstrap'
                        },
                        {
                            label: 'Express.js'
                        },
                        {
                            label: 'NPM'
                        },
                        {
                            label: 'Material-UI'
                        },
                        {
                            label: 'MongoDB'
                        },
                        {
                            label: 'Chakra UI'
                        },
                        {
                            label: 'MySQL'
                        },
                        {
                            label: 'Github'
                        },
                        {
                            label: 'Next.js'
                        },
                        {
                            label: 'FIGMA'
                        },
                        {
                            label: 'Firebase'
                        },
                        {
                            label: 'Rapid API'
                        },
                        {
                            label: 'SEO'
                        },
                        {
                            label: 'VsCode'
                        },
                        {
                            label: 'Handlebars'
                        },
                        {
                            label: 'EJS'
                        }
                    ]
                    const settings = {
                        entries: entries,
                        width: 480,
                        height: 400,
                        radius: '65%',
                        radiusMin: 75,
                        bgDraw: true,
                        bgColor: 'var(--body-color)',
                        opacityOver: 1.00,
                        opacityOut: 0.05,
                        opacitySpeed: 6,
                        fov: 800,
                        speed: 2,
                        fontFamily: 'Poppins, sans-serif',
                        fontSize: 'var(--h3-font-size)',
                        fontColor: 'var(--first-color)',
                        fontWeight: 'var(--font-semi-bold)',
                        fontStyle: 'normal',
                        fontStretch: 'normal',
                        fontToUpperCase: false,
                    };
                    $('#skillDisplay').svg3DTagCloud(settings);
                });
            </script>
        </div>

    </section>

    <!--==================== SERVICES ====================-->
    <section class="services section" id="services">
        <h2 class="section_title">services</h2>
        <span class="section_subtitle">What i provide</span>

        <div class="services_container container grid">
            <!--SERVICES 1-->
            <div class="services_content">
                <div>
                    <div class="img-design"></div>
                    <img src="/public/assets/img/color-picker.png" alt="" class="services_img services_img-design">
                    <h3 class="services_title">Frontend<br>Dev</h3>
                    <ul>
                        <li class="services_info">
                            <span>⚡</span>
                            Creating the flow of application functionalities to optimize user experience
                        </li>
                        <li class="services_info">
                            <span>⚡</span>
                            Creating website layout/user interface using standard practices for mobile and web
                            applications
                        </li>
                    </ul>
                </div>
                <div class="services_buttons">
                    <span class="button button-flex button-small button-link services_button">
                        View More
                        <i class="uil uil-arrow-right button_icon"></i>
                    </span>
                </div>
                <div class="services_modal">
                    <div class="services_modal-content">
                        <h4 class="services_modal-title">Frontend <br>Dev</h4>
                        <i class="uil uil-times services_modal-close"></i>

                        <ul class="services_modal-services grid">
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Building responsive front end website using modern javascript frameworks and
                                    libraries.</p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Develop the user interface.</p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Create your Ux element interactions.</p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Cooperate with web designers to match visual design intent.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--SERVICES 2-->
            <div class="services_content">
                <div>
                    <div class="img-dev"></div>
                    <img src="/public/assets/img/laptop_2.png" alt="" class="services_img services_img-dev">

                    <h3 class="services_title">Backend <br>Dev</h3>
                    <ul>
                        <li class="services_info">
                            <span>⚡</span>
                            Writing well designed, testable, efficient code by using best software development practices
                        </li>
                        <li class="services_info">
                            <span>⚡</span>
                            Creating and Integrating data from various back-end services, servers, end points, APIs, and
                            databases
                        </li>
                    </ul>
                </div>
                <div class="services_buttons">
                    <span class="button button-flex button-small button-link services_button">
                        View More
                        <i class="uil uil-arrow-right button_icon"></i>
                    </span>
                </div>
                <div class="services_modal">
                    <div class="services_modal-content">
                        <h4 class="services_modal-title">Backend <br>Dev</h4>
                        <i class="uil uil-times services_modal-close"></i>

                        <ul class="services_modal-services grid">
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Create and maintain software documentation.</p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Application backend with the Node.</p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Responsible for maintaining, expanding, and scaling your site.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--SERVICES 3-->
            <div class="services_content">
                <div>
                    <div class="img-cloud"></div>
                    <img src="/public/assets/img/cloud.png" alt="" class="services_img services_img-cloud">
                    <h3 class="services_title">Cloud <br>infra-Architecture</h3>
                    <ul>
                        <li class="services_info">
                            <span>⚡</span>
                            Managing application architecture and its deployment in a cloud-based environment
                        </li>

                        <li class="services_info">
                            <span>⚡</span>
                            Hosting and maintaining websites on virtual machine instances [Kernel (software management)]
                        </li>
                    </ul>
                </div>
                <div class="services_buttons">
                    <span class="button button-flex button-small button-link services_button">
                        View More
                        <i class="uil uil-arrow-right button_icon"></i>
                    </span>
                </div>
                <div class="services_modal">
                    <div class="services_modal-content">
                        <h4 class="services_modal-title">Cloud <br>infra-Architecture</h4>
                        <i class="uil uil-times services_modal-close"></i>

                        <ul class="services_modal-services grid">
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Hosting of websites on virtual machine instances</p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Gathering and refining specifications and requirements based on technical needs.</p>
                            </li>
                            <li class="services_modal-service">
                                <i class="uil uil-check-circle services_modal-icon"></i>
                                <p>Help you stay plugged into emerging technologies/industry trends
                                    and apply them into operations and activities.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--==================== PORTFOLIO ====================-->
    <section class="portfolio section" id="portfolio">
        <h2 class="section_title">Portfolio</h2>
        <span class="section_subtitle">Gallery of work</span>

        <div class="portfolio_container container swiper mySwiper">
            <div class="swiper-wrapper">

                <!----------PORTFOLIO 1---------------->
                <div class="portfolio_content grid swiper-slide">
                    <img src="/public/assets/img/Restate.png" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">Cottage Real Estate App</h3>
                        <p class="portfolio_description">This is a [Next.js] Real Estate Application.
                            Cottage allows to Rent and Buy Apartments at various locations. Styled with Chakra UI.
                        </p>
                        <div class="img_cover">
                            <a href="https://adekunlestephen-cottage-real-estate.vercel.app"
                                class="button button-flex button-small portfolio_button" target="_blank">
                                Demo
                                <i class="uil uil-arrow-right button_icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!----------PORTFOLIO 2---------------->
                <div class="portfolio_content grid swiper-slide">
                    <img src="/public/assets/img/Gym.png" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">Fitness Gym App</h3>
                        <p class="portfolio_description">A modern day fitness react application that fetches data
                            using Rapid and styled with Material-UI.
                        </p>
                        <div class="img_cover">
                            <a href="https://adekunlestephen-fitness-gym-app.vercel.app"
                                class="button button-flex button-small portfolio_button" target="_blank">
                                Demo
                                <i class="uil uil-arrow-right button_icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!----------PORTFOLIO 3---------------->
                <div class="portfolio_content grid swiper-slide">
                    <img src="/public/assets/img/MovieLand.png" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">MovieLand</h3>
                        <p class="portfolio_description">A React Application that searches for all available Imdb Movies
                            you can think of.
                        </p>
                        <div class="img_cover">
                            <a href="https://okste1234.github.io/movieland-react-search-app"
                                class="button button-flex button-small portfolio_button" target="_blank">
                                Demo
                                <i class="uil uil-arrow-right button_icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!----------PORTFOLIO 4---------------->
                <div class="portfolio_content grid swiper-slide">
                    <img src="/public/assets/img/Screenshot (63).png" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">Online Store</h3>
                        <p class="portfolio_description">Comfy House, an ecommerce website whose data
                            is fetched and populated by JS. Data are secured and updated in Contentful (CMS).
                            It is adaptable to all devices, and user friendly.
                        </p>
                        <div class="img_cover">
                            <a href="https://mycomfy.netlify.app"
                                class="button button-flex button-small portfolio_button" target="_blank">
                                Demo
                                <i class="uil uil-arrow-right button_icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!---------------PORTFOLIO 5------------------>
                <div class="portfolio_content grid swiper-slide">

                    <img src="/public/assets/img/Screenshot (49).png" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">Travelling Site</h3>
                        <p class="portfolio_description">TravelsGo!, a travelling agency website built
                            using a free and open source frontend development framework(Bootstrap).
                        </p>
                        <div class="img_cover">
                            <a href="https://travelsgo.netlify.app"
                                class="button button-flex button-small portfolio_button" target="_blank">
                                Demo
                                <i class="uil uil-arrow-right button_icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!---------------PORTFOLIO 6------------------>
                <div class="portfolio_content grid swiper-slide">

                    <img src="/public/assets/img/kevin-bhagat-zNRITe8NPqY-unsplash.jpg" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">Modern Hosting</h3>
                        <p class="portfolio_description">Animated interactions website,
                            deployed to run a successful hosting ability, and creativity.
                        </p>
                        <div class="img_cover">
                            <a href="https://adekunlestephen-testing-host.netlify.app" target="_blank"
                                class="button button-flex button-small portfolio_button">
                                Demo
                                <i class="uil uil-arrow-right button_icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!---------------PORTFOLIO 7------------------>
                <div class="portfolio_content grid swiper-slide">

                    <img src="/public/assets/img/responsive.jpg" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">Blog [Crud Application]</h3>
                        <p class="portfolio_description">A Blog MERN Application project. Application
                            capable of creating, reading, updating and deleting data (posts or accounts).
                        </p>

                        <a href="https://github.com/okste1234/MERN-blog-api"
                            class="button button-flex button-small portfolio_button" target="_blank">
                            Demo
                            <i class="uil uil-arrow-right button_icon"></i>
                        </a>

                    </div>
                </div>

                <!---------------PORTFOLIO 8------------------>
                <div class="portfolio_content grid swiper-slide">

                    <img src="/public/assets/img/Scores.png" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">Game Scores Board</h3>
                        <p class="portfolio_description">A contemporary scoreboard that displays the results
                            and the difference in victories between the teams playing at home and away on the day of
                            your game.
                            Built to make JS easy to learn.
                        </p>

                        <a href="https://basketballscores.netlify.app"
                            class="button button-flex button-small portfolio_button" target="_blank">
                            Demo
                            <i class="uil uil-arrow-right button_icon"></i>
                        </a>

                    </div>
                </div><!----------PORTFOLIO 9---------------->
                <div class="portfolio_content grid swiper-slide">
                    <img src="/public/assets/img/Tesla.png" alt="" class="portfolio_img">

                    <div class="portfolio_data">
                        <h3 class="portfolio_title">Tesla Clone App</h3>
                        <p class="portfolio_description">Tesla Clone App was bootstrapped with Create React App,
                            using the Redux and Redux Toolkit template...
                        </p>
                        <div class="img_cover">
                            <a href="https://okste-tesla-clone.netlify.app"
                                class="button button-flex button-small portfolio_button" target="_blank">
                                Demo
                                <i class="uil uil-arrow-right button_icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-button-next">
                <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
            </div>
            <div class="swiper-button-prev">
                <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
            </div>

            <div class="swiper-pagination"></div>
        </div>

    </section>

</main>

<aside>
    <!--==================== PROJECT IN MIND ====================-->
    <section class="section project">
        <div class="project_img">
            <div class="project_container container">
                <div class="project_caption project-caption2">
                    <h2>Don't hesitate to reach me, I'm available</h2>
                </div>

                <a href="#contact" class="button button-small project_button">
                    Contact Me Now
                    <i class="uil uil-message button_icon"></i>
                </a>
            </div>
        </div>

        <!--==================== CONTACT ME ====================-->
        <section class="section contact" id="contact">
            <div class="project-contact_container">
                <div class="contact_container container grid">
                    <div>

                        <div class="contact_info">
                            <i class="uil uil-envelope contact_icon"></i>
                            <div>
                                <h3 class="contact_title">Email</h3>
                                <span class="contact_subtitle">omorotimiadekunle@gmail.com</span>
                            </div>
                        </div>

                        <div class="contact_info">
                            <i class="uil uil-map-marker contact_icon"></i>
                            <div>
                                <h3 class="contact_title">Location</h3>
                                <span class="contact_subtitle">OAU Campus Gate Ile-ife, Osun State, Nigeria.</span>
                            </div>
                        </div>

                        <div class="contact_info">
                            <i class="uil uil-phone contact_icon"></i>
                            <div>
                                <h3 class="contact_title">Call Me</h3>
                                <span class="contact_subtitle">+234 704 363 1950</span>
                                <span class="contact_subtitle">+234 907 114 9589</span>
                            </div>
                        </div>

                    </div>

                    <form method="POST" action="send" class="contact_form grid">
                        <div class="contact_inputs grid">
                            <div class="contact_content">
                                <label for="" class="contact_label">Name</label>
                                <input type="text" name="name" class="contact_input">
                            </div>
                            <div class="contact_content">
                                <label for="" class="contact_label">Email</label>
                                <input type="email" name="email" class="contact_input">
                            </div>
                        </div>
                        <div class="contact_content">
                            <label for="" class="contact_label">What are you working on?</label>
                            <input type="text" name="project" class="contact_input">
                        </div>
                        <div class="contact_content">
                            <label for="" class="contact_label">Message</label>
                            <textarea name="message" id="message" class="contact_input" cols="0" rows="7"></textarea>
                        </div>
                        {{msg}}
                        <div>
                            <button class="button button-flex" type="submit">
                                Let's Talk
                                <i class="uil uil-message button_icon"></i>
                            </button>

                        </div>
                    </form>
                </div>
            </div>

        </section>
    </section>
</aside>

<!--==================== FOOTER ====================-->
<footer class="footer">
    <div class="footer_bg">
        <div class="footer_container container grid">
            <div>
                <h1 class="footer_title">Steve</h1>
                <span class="footer_subtitle">Fullstack Developer</span>
            </div>

            <ul class="footer_links">
                <li>
                    <a href="#home" class="footer_link">Home</a>
                </li>
                <li>
                    <a href="#services" class="footer_link">Services</a>
                </li>
                <li>
                    <a href="#portfolio" class="footer_link">Portfolio</a>
                </li>
                <li>
                    <a href="#contact" class="footer_link">Contact</a>
                </li>
            </ul>
            <div class="footer_socials">
                <p>Stay connected</p>
                <a href="https://www.linkedin.com/in/okste/" class="footer_social" target="_blank">
                    <i class="uil uil-linkedin-alt button_icon"></i>
                </a>
                <a href="https://twitter.com/Okste1234" class="footer_social" target="_blank">
                    <i class="uil uil-twitter-alt button_icon"></i>
                </a>
                <a href="https://www.facebook.com/adekunlestephen.omorotimi" class="footer_social" target="_blank">
                    <i class="uil uil-facebook-f button_icon"></i>
                </a>

                <a href="https://dribbble.com/okste" class="footer_social" target="_blank">
                    <i class="uil uil-dribbble button_icon"></i>
                </a>
            </div>
        </div>

        <p class="footer_copy">&#169; Adekunle Stephen O. 2022</p>
    </div>

</footer>

<!--==================== SCROLL TOP ====================-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="uil uil-arrow-up scrollup_icon"></i>
</a>